# Application
NODE_ENV=
PORT=
API_PREFIX=
API_DEFAULT_VERSION=
API_URL=
CLIENT_URL=

# Database
DATABASE_URL=

# Cloudinary
CLOUD_NAME=
CLOUD_KEY=
CLOUD_SECRET=

#
ALLOWED_ORIGINS=

# Dictionary
MW_DICT_API_KEY=
MW_THESAURUS_API_KEY=
MW_BASE_URL=

# google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Swagger
SWAGGER_TITLE=
SWAGGER_DESCRIPTION=
SWAGGER_VERSION=
SWAGGER_UI_PATH=

# RSA Key
JWT_KEY_DIRECTORY=
JWT_PRIVATE_ACCESS=
JWT_PUBLIC_ACCESS=
JWT_PRIVATE_REFRESH=
JWT_PUBLIC_REFRESH=
JWT_PRIVATE_TEMP=
JWT_PUBLIC_TEMP=

# JWT
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
TEMP_TOKEN_EXPIRES_IN=   

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

# Email
EMAIL_HOST=
EMAIL_USER=
EMAIL_FROM=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_PASS=

# FIREBASE ADMIN
FIREBASE_SERVICE_ACCOUNT=
