
/generated/prisma

/generated/prisma

REDIS-GUIDE-FOR-BEGINNERS.md
implementation_plan.md.resolved

# Keys & Secrets (IMPORTANT)
*.pem
keys/*.pem
keys

# Environment variables
.env
.env.local
.env.*.local
.env.test
.env.production

# Build outputs & dependencies
node_modules/
**/node_modules/
dist/
**/dist/
.next/
build/